# Byte-compiled / optimized / Python DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments & Virtual Envs
.env
.venv
.venv/
env/
venv/
ENV/

# Python Build, Packaging & Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
frontend/build/
frontend/.dart_tool/
**/doc/api/
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release
app.*.symbols
app.*.map.json

# Datasets / Large archives
*.tgz
*.tar.gz
*.zip

# IDE / OS / Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
